name: Test documentation site deployment

on:
    pull_request:
        branches:
            - main

defaults:
    run:
        working-directory: ./website

jobs:
    test-deploy:
        name: Test deployment
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
              with:
                  fetch-depth: 0
            - uses: pnpm/action-setup@v4
              name: Install pnpm
              with:
                  version: 10
                  run_install: false
            - uses: actions/setup-node@v4
              with:
                  cache-dependency-path: website/pnpm-lock.yaml
                  node-version: 20
                  cache: npm

            - name: Install dependencies
              run: npm ci
            - name: Test build website
              run: npm run build
